<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}" th:with="activeTab='timeline', title='Timeline'">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/co_sns/mention_detail.css}" rel="stylesheet">
    <script src='//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.7.0/js/md5.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" defer> </script>
    <script>
        $(document).ready(function () {

            $('#remention-save-btn').click(function () {

                console.log($('#content').val().length);
                if($('#content').val().replace(/\s| /gi, "").length==0){
                    alert("내용을 입력해주세요.");
                    return false;
                }

                document.getElementById("parent-mention-no").value= $('#parent-mention').val();

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    url : '/remention',
                    type : 'POST',
                    data : $('#re-mention-form').serialize(),
                    dataType: 'json',
                    beforeSend: function (xhr){
                        xhr.setRequestHeader(header, token);
                    },
                    success:function (data){
                        if(data.result){
                            window.location.reload();
                        }else{
                            window.location.href = '../';
                        }
                    },
                    error:function (){
                        console.log(this.error);
                    }
                });
            });
        });


    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container-mention">
        <div class="mention-detail">
            <div class="mention-header">
                <div onclick="location.href='/timeline_follow'" class="back-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="#000"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M19 12H6m6-7l-7 7 7 7"></path>
                    </svg>
                </div>
                <p class="mention">멘션</p>
            </div>
            <div class="hr"></div>
            <div class="mention-and-remention">
                <input type="hidden" th:value="${mention.no}" id="parent-mention">
                <div class="mention-content" >
                    <div class="mention-bottom">
                        <div class="mention-info">
                            <div class="profile-img">
                                <svg data-jdenticon-value="user" th:text="${mention.member.nickname}"
                                     width="60" height="60" class="rounded border bg-light"></svg>
                            </div>
                            <div class="content" style="height: auto" th:utext="${#strings.replace(mention.content,mention.nlString, '&lt;br /&gt;')}">내용</div>
                        </div>
                        <div class="mention-info" style="margin-top: 8px">
                            <div class="nickname-box">
                                <a th:href="@{'/profile/' + ${mention.member.nickname}}">
                                    <span class="nickname" th:text="${mention.member.nickname}"></span>
                                </a>
                            </div>
                            <div class="dot">|</div>
                            <div class="vaccine" th:if="${mention.member.certification} == true">
                                <img src="img/vaccine.png" alt="" class="vaccine">
                            </div>
                            <div class="dot">|</div>
                            <div class="upload-time" th:text="${#temporals.format(mention.regdate,'yyyy.MM.dd HH:mm')}">2021년 8월 22일 오후 4:27</div>
                            <div class="dot">|</div>
                            <div class="location" th:text="${mention.location}">롯데월드</div>
                        </div>
                        <div style="float: left;" class="mention-delete" th:if="${currentMember.no==mention.member.no}">
                            <form id="delete-form" th:action="@{'/delete/' + ${mention.no}}" method="post">
                                <input type="hidden" name="delete_mention" value="delete"/>
                                <button id="delete-btn">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="remention-content" >
                    <form id="re-mention-form" th:object="${reMentionForm}" >
                        <input type="hidden" th:field="*{parentMentionNo}" id="parent-mention-no">
                        <div class="mention-info">
                            <!--                            여긴 이미지 필요없을거같아서 지우면 될거같아요 div 때문에 혹시 모를까 남겨놨어요-->
                            <!--                            <div class="profile-img">-->
                            <!--                                <svg data-jdenticon-value="user" th:data-jdenticon-value="${currentMember.nickname}"-->
                            <!--                                     width="60" height="60" class="rounded border bg-light"></svg>-->
                            <!--                            </div>-->
                            <div class="remention-write">
                                <textarea name="content" id="content" th:field="*{content}" placeholder="답글을 적어주세요."></textarea>
                            </div>
                        </div>
                        <div class="remention-write-submit" id="remention-save-btn">
                            <button class="remention-btn">올리기</button>
                        </div>
                    </form>
                </div>
                <div id = "re-mention-list">
                    <div th:each="reMention:${reMentionList}">
                        <div class="re-mention-info">
                            <div class="profile-img">
                                <svg data-jdenticon-value="user" th:text="${reMention.member.nickname}"
                                     width="75" height="75" class="rounded border bg-light"></svg>
                            </div>
                            <div id="re-mention-nickname">
                                <a th:href="@{'/profile/' + ${mention.member.nickname}}">
                                    <span th:text="${reMention.member.nickname}"></span>
                                </a>
                            </div>
                            <div class="dot">|</div>
                            <div class="upload-time">
                                <span class="viewTime" th:text="${#temporals.format(reMention.regdate,'yyyy.MM.dd HH:mm')}"></span>
                            </div>
                            <div id="re-mention-content" th:utext="${#strings.replace(reMention.content,reMention.nlString, '&lt;br /&gt;')}">내용</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="search">
                <form method="get" name="search-mention" th:action="@{search}">
                    <input type="text" class="search-mention" name="keyword" placeholder="멘션 검색하기">
                </form>
            </div>
            <div class="trend">
                <div class="trend-box">
                    <div class="trend-head">
                        실시간 트렌드
                    </div>
                    <div class="trend-rank 1">1</div>
                    <div class="trend-rank 2">2</div>
                    <div class="trend-rank 3">3</div>
                    <div class="trend-rank 4">4</div>
                    <div class="trend-rank 5">5</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>