<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}" th:with="activeTab='profile', title='cosns'">

<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link th:href="@{/css/co_sns/profile.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" defer> </script>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="myhistory">
      <div class="myhistory-header">
        <div class="myhistory-img">
          <svg data-jdenticon-value="user" th:text="${profileMember.nickname}"
               width="75" height="75" class="rounded border bg-light"></svg>
        </div>

        <div class="myhistory-info">
          <div class="info-list">
            <div class="imgs">
              <span th:text="${profileMember.nickname}"></span>
            </div>
            <div class="imgs">
              백신인증표시
            </div>
            <div class="vaccine" th:if="${profileMember.certification} == true">
              <img src="img/vaccine.png" alt="" class="vaccine">
            </div>
          </div>
          <div class="info-list">자기소개</div>
          <span class="introduce" th:text="${profileMember.introduce}"></span>
          <div class="info-list">
            <span class="info-name">사용자 프로필 메세지</span>
            <div class="detail"></div>
          </div>
          <div class="info-list">
            <!--            <span class="info-name">팔로잉</span>-->
            <!--            <div class="detail follows" th:text="${followInfoForm.followingNumber}"></div>-->
            <!--            <span class="info-name">팔로워</span>-->
            <!--            <div class="detail" th:text="${followInfoForm.followerNumber}"></div>-->
          </div>
          <button type="button"  class="btn-style" id="follow-btn">팔로우</button>
          <button type="button"  class="btn-style" id="unfollow-btn">팔로우취소</button>
        </div>
        <div class="myhistory-btn" th:if="${currentMember.no == profileMember.no}">
          <button type="submit" class="btn-style" onclick="location.href='/settings'">정보수정</button>
        </div>
      </div>
      <div class="hr"></div>
      <div class="myhistory-list">
        <div class="mention-each" th:each="mention : ${memberMentionList}">
          <div class="mention-left">
            <div class="profile-img">
              <svg data-jdenticon-value="user" th:text="${profileMember.nickname}"
                   width="75" height="75" class="rounded border bg-light"></svg>
            </div>
          </div>
          <div class="mention-right">
            <div class="myhistory-info">
              <div class="nickname">
                  <a th:href="@{'/profile/' + ${profileMember.nickname}}">
                    <span th:text="${profileMember.nickname}"></span>
                  </a>
              </div>
              <div class="vaccine" th:if="${profileMember.certification} == true">
                  <img  src="img/vaccine.png" alt="" class="vaccine">
              </div>
              <div class="location">
                <span th:text="${mention.location}"></span>
              </div>
              <div class="dot">·</div>
              <div class="myhistory-time">
                                <span class="viewTime"
                                      th:text="${#temporals.format(mention.regdate,'yyyy.MM.dd HH:mm')}"></span>
              </div>
            </div>
            <div class="myhistory-content">
              <a th:href="@{'/mention_detail/' + ${mention.no}}">
                <span th:text="${mention.content}"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
<!--      <div class="search">-->
<!--        <form method="get" name="search-mention" th:action="@{search}">-->
<!--          <input type="text" class="search-mention" name="keyword" placeholder="멘션 검색하기">-->
<!--        </form>-->
<!--      </div>-->
      <div class="following">
        <div class="following-box">
          <div class="following-head">
            팔로워
          </div>
          <div class="following-list 1">1</div>
          <div class="following-list 2">2</div>
          <div class="following-list 3">3</div>
          <div class="following-list 4">4</div>
          <div class="following-list 5">5</div>
        </div>
        <div class="following-box">
          <div class="following-head">
            팔로우
          </div>
          <div class="following-list 1">1</div>
          <div class="following-list 2">2</div>
          <div class="following-list 3">3</div>
          <div class="following-list 4">4</div>
          <div class="following-list 5">5</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>