<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}" th:with="activeTab='profile', title='cosns'">

<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link th:href="@{/css/co_sns/profile.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" async></script>
  <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" defer> </script>
  <script th:inline="javascript">

    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");


    function follow(whomNickname){
      $.ajax({
        url: '/follow',
        type: 'POST',
        data: {'whomNickname': whomNickname},
        dataType: 'json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
      }).done(function (result) {
        alert(result.message);
        window.location.reload();
      });
    }

    function unfollow(whomNickname){
      $.ajax({
        url: '/unfollow',
        type: 'POST',
        data: {'whomNickname': whomNickname},
        dataType: 'json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
      }).done(function (result) {
        alert(result.message);
        window.location.reload();
      });
    }

    function deleteFollower(whoNickname){
      $.ajax({
        url: '/delete_follower',
        type: 'POST',
        data: {'whoNickname': whoNickname},
        dataType: 'json',
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
      }).done(function (result) {
        alert(result.message);
        window.location.reload();
      });
    }

    $(document).ready(function () {

      $('#my-profile-follow-btn').click(function () {
        /*<![CDATA[*/
        let pageNickname = /*[[${profileMember.nickname}]]*/;
        /*]]>*/
        follow(pageNickname);
      });

      $('#my-profile-unfollow-btn').click(function () {
        /*<![CDATA[*/
        let pageNickname = /*[[${profileMember.nickname}]]*/;
        /*]]>*/
        unfollow(pageNickname);
      });

      $("body").on("click", "[id^=follow-btn]", function(event) {
        follow(this.value);
      });

      $("body").on("click", "[id^=unfollow-btn]", function(event) {
        unfollow(this.value);
      });

      $("body").on("click", "[id^=delete-btn-my-follower]", function(event) {
        deleteFollower(this.value);
      });
    });
  </script>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="myhistory">
      <div class="myhistory-header">
        <div class="myhistory-img" th:if="${(profileMember.profileImage?.filename)!=null}">
          <img th:src="${profileMember.profileImage.filename}" width="75" height="75"/>
        </div>
        <div class="myhistory-img" th:if="${(profileMember?.profileImage?.filename)==null}">
          <svg data-jdenticon-value="user" th:data-jdenticon-value="${profileMember.nickname}"
               width="75" height="75" class="rounded border bg-light"></svg>
        </div>
        <div class="myhistory-info">
          <div class="info-list">
            <div class="user-nickname">
              <span th:text="${profileMember.nickname}"></span>
            </div>
            <div class="vaccine" th:if="${profileMember.certification} == true">
              <img th:src="@{/img/vaccine.png}" alt="" class="vaccine">
            </div>
          </div>
          <div class="info-list">자기소개
            <span class="introduce" th:text="${profileMember.introduce}"></span>
          </div>
          <div class="info-list">
            <span class="info-name">팔로잉</span>
            <div class="detail follows" th:text="${followInfoForm.followingNumber}"></div>
            <span class="info-name">팔로워</span>
            <div class="detail" th:text="${followInfoForm.followerNumber}"></div>
          </div>
        </div>
        <div>
          <div class="myhistory-btn" th:if="${currentMember.no == profileMember.no}">
            <button type="submit" class="btn-style" onclick="location.href='/settings'">정보수정</button>
          </div>
          <div th:if="${currentMember.no != profileMember.no}">
            <div th:if="${!followInfoForm.followStatus}">
              <button type="button" class="btn-style" id="my-profile-follow-btn">팔로우</button>
            </div>
            <div th:if="${followInfoForm.followStatus}">
              <button type="button" class="btn-style" id="my-profile-unfollow-btn">팔로우취소</button>
            </div>
          </div>

        </div>
      </div>
      <div class="hr"></div>
      <div class="myhistory-list">
        <div class="mention-each" th:each="mention : ${memberMentionList}">
          <div class="mention-left">
            <div class="myhistory-img" th:if="${(profileMember?.profileImage?.filename)!=null}">
              <img th:src="${profileMember.profileImage.filename}" width="75" height="75"/>
            </div>
            <div class="myhistory-img" th:if="${(profileMember?.profileImage?.filename)==null}">
              <svg data-jdenticon-value="user" th:data-jdenticon-value="${profileMember.nickname}"
                   width="75" height="75" class="rounded border bg-light"></svg>
            </div>
          </div>
          <div class="mention-right">
            <div class="profile-info">
              <div class="nickname">
                <a th:href="@{'/profile/' + ${profileMember.nickname}}">
                  <span th:text="${profileMember.nickname}"></span>
                </a>
              </div>
              <div class="vaccine" th:if="${profileMember.certification} == true">
                <img th:src="@{/img/vaccine.png}" alt="" class="vaccine">
              </div>
              <div class="location">
                <span th:text="${mention.location}"></span>
              </div>
              <div class="myhistory-time">
                <span class="viewTime" th:text="${#temporals.format(mention.regdate,'yyyy.MM.dd HH:mm')}"></span>
              </div>
            </div>
            <div class="myhistory-content">
              <a th:href="@{'/mention_detail/' + ${mention.no}}">
                <span th:text="${mention.content}"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="search">
        <form method="get" name="search-mention" th:action="@{search}">
          <input type="text" class="search-mention" name="keyword" placeholder="멘션 검색하기">
        </form>
      </div>
      <div th:if="${currentMember.no == profileMember.no}">
        <div class="follower">
          <div class="following-box">
            <div class="following-head">
              팔로잉
            </div>
            <div style="display: flex;margin-bottom: 3px" th:each="following,num:${followInfoForm.followingList}">
              <!--              <div class="following-list" th:text="${following.nickname}"><a th:href="@{'/profile/' + ${following.nickname}}">nickname</a></div>-->
              <div class="following-list" th:text="${following.nickname}">nickname</div>
              <button type="button" class="unfollow-btn-my-following" th:id="unfollow-btn-my-following+${num.index}" th:value="${following.nickname}">팔로잉</button>
            </div>

          </div>
          <div class="following-box">
            <div class="following-head">
              팔로워
            </div>
            <div style="display: flex;margin-bottom: 3px" th:each="follower,num:${followInfoForm.followerList}">
              <div class="following-list" th:text="${follower.nickname}" ><a th:href="@{'/profile/' + ${profileMember.nickname}}">nickname</a></div>
              <button class="delete-btn-my-follower" type="button" th:id="delete-btn-my-follower+${num.index}" th:value="${follower.nickname}">삭제</button>
            </div>
          </div>
        </div>
      </div>
      <div th:if="${currentMember.no != profileMember.no}">
        <div class="follower">
          <div class="following-box">
            <div class="following-head">
              팔로잉
            </div>
            <div style="display: flex;margin-bottom: 3px" th:each="following:${followInfoForm.followingMap}">
              <div class="following-list" th:text="${following.key}"><a th:href="@{'/profile/' + ${profileMember.nickname}}">nickname</a></div>
              <div th:if="${following.key != currentMember.nickname and following.value}">
                <button class="unfollow-btn-following-following" type="button" th:id="unfollow-btn-following-following" th:value="${following.key}">팔로잉</button>
              </div>
              <div style="display: flex;margin-bottom: 3px" th:if="${following.key != currentMember.nickname and !following.value}">
                <button class="follow-btn-another-following" type="button" th:id="follow-btn-another-following" th:value="${following.key}">팔로우</button>
              </div>
            </div>
          </div>
          <div class="following-box">
            <div class="following-head">
              팔로워
            </div>
            <div style="display: flex;margin-bottom: 3px" th:each="follower:${followInfoForm.followerMap}">
              <div class="following-list" th:text="${follower.key}"><a th:href="@{'/profile/' + ${profileMember.nickname}}">nickname</a></div>
              <div th:if="${follower.key != currentMember.nickname and follower.value}">
                <button class="unfollow-btn-another-follower" type="button" th:id="unfollow-btn-another-follower" th:value="${follower.key}">팔로잉</button>
              </div>
              <div style="display: flex;margin-bottom: 3px" th:if="${follower.key != currentMember.nickname and !follower.value}">
                <button class="follow-btn-another-follower" type="button" th:id="follow-btn-another-follower" th:value="${follower.key}">팔로우</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>