<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}" th:with="activeTab='timeline', title='Timeline'">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/co_sns/timeline_location.css}" rel="stylesheet">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=732b7bd04a77dda331bb12e7a36dc72d&libraries=services"></script>
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" defer> </script>

</head>
<body>
<div layout:fragment="content">
    <div class="container-timeline">
        <div class="timeline">
            <div class="timeline-header">
                <div class="timeline-collect">
                    <a th:href="@{timeline_follow}" class="follow">타임라인</a>
                    <a th:href="@{timeline_location}" class="location">위치검색</a>
                </div>
                <div class="mention-location">
                    <form style="display: flex;align-items: center;justify-content: space-between" method="post" name="search" th:object="${locationSearchForm}" th:action="@{timeline_location}">
                        <select autofocus name="location-radius" id="location-radius" th:field="*{radius}">
                            <option value="1" selected>1km</option>
                            <option value="2">2km</option>
                            <option value="4">4km</option>
                            <option value="6">6km</option>
                            <option value="8">8km</option>
                            <option value="10">10km</option>
                        </select>
                        <input type="text" th:field="*{location}" class="search-text3" name="location-name" id="location-name" readonly>
                        <input type="hidden" th:field="*{latitude}" name="location-latitude" id="location-latitude">
                        <input type="hidden" th:field="*{longitude}" name="location-longitude" id="location-longitude">
                    <button type="button" id="location-btn">위치 선택</button>
                    </form>
                </div>
            </div>
            <div class="hr"></div>
            <div class="timeline-content">
                <div class="mention-list">
                    <div class="mention-each" th:each="mention:${mentionList}">
                        <div class="mention-left">
                            <div class="profile-img">
                                <div class="profile-img" >
                                    <div class="mention-img" th:if="${(mention.member?.profileImage?.filename)!=null}">
                                        <img th:src="${mention.member.profileImage.filename}" width="75"
                                             height="75"/>
                                    </div>
                                    <div class="mention-img" th:if="${(mention.member?.profileImage?.filename)==null}">
                                        <svg data-jdenticon-value="user" th:data-jdenticon-value="${mention.member.nickname}"
                                             width="75" height="75" class="rounded border bg-light"></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mention-right">
                            <div class="mention-info">
                                <div class="nickname" style="margin-right: 7px" th:text="${mention.member.nickname}">닉네임</div>
                                <div class="vaccine" th:if="${#strings.equals(mention.member.certification,'yes')}">
                                    <img src="img/vaccine.png" alt="" class="vaccine">
                                </div>
                                <div class="location" style="margin-right: 7px" th:text="${mention.location}">롯데월드</div>
                                <div class="upload-time" th:text="${#temporals.format(mention.regdate,'yyyy.MM.dd HH:mm')}">20시간</div>
                            </div>
                            <div class="write-content" th:utext="${#strings.replace(mention.content, mention.nlString, '&lt;br /&gt;')}">가나다라마바다아자차카타파하!!!!!!!!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="search">

                <input type="textarea" class="search-text2" placeholder="검색하기">

            </div>
            <div class="trend">
                <div class="trend-box">
                    <div class="trend-head">
                        실시간 트렌드
                    </div>
                    <div class="trend-rank 1">1 서울 연장</div>
                    <div class="trend-rank 2">2 백신</div>
                    <div class="trend-rank 3">3 거리두기</div>
                    <div class="trend-rank 4">4 9시 이후</div>
                    <div class="trend-rank 5">5 코로나</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="location-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">위치 검색</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                    <div class="modal-body">
                        <div class="location-search">
                            <input type="text" class="search-text" placeholder="장소 입력" id="location-keyword">
                            <button type="button" id="keyword-search">검색</button>
                        </div>
                        <div id="map-div">
                            <div id="map" style="width:100%;height:350px;"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <select autofocus id="radius-select">
                            <option value="1" selected>1km</option>
                            <option value="2">2km</option>
                            <option value="4">4km</option>
                            <option value="6">6km</option>
                            <option value="8">8km</option>
                            <option value="10">10km</option>
                        </select>
                        <input type="text" class="search-text4" id="location-select" readonly>
                        <button type="button" id="location-search-btn" data-dismiss="modal">선택</button>
                    </div>

            </div>
        </div>
    </div>


    <script>
        let circle;
        let markers = [];
        let selectedPlaceName = null;
        let selectedPlaceLatitude = null;
        let selectedPlaceLongitude = null;

        let currentRadius = $('#location-radius').val();

        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        let infowindow = new kakao.maps.InfoWindow({zIndex: 1});

        let mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다


        $("#location-btn").click(function () {

            $("#location-modal").modal();

            $("#location-modal").on('shown.bs.modal', function () {
                map.relayout();
            })

        });


        $('#keyword-search').click(function () {

            setMarkers(null);
            markers = [];
            let keyword = $('#location-keyword').val();
            searchKeyword(keyword);

        });

        $('#radius-select').click(function () {

            if (selectedPlaceLongitude != null && selectedPlaceLatitude!= null){
                setCircle(selectedPlaceLatitude, selectedPlaceLongitude,$('#radius-select').val());
            }

        });

        function formSubmit(){

            if($('#location-longitude').val() == null|| $('#location-latitude').val() == null){
                return false;
            }

            $('form[name=search]').submit();
        }

        $('#location-radius').click(function () {

            if ($('#location-radius').val() == currentRadius){
                return false;
            }
            formSubmit();
        });

        $('#location-search-btn').click(function () {
            formSubmit();
        });


        function searchKeyword(keyword) {
            // 장소 검색 객체를 생성합니다
            var ps = new kakao.maps.services.Places();

            // 키워드로 장소를 검색합니다
            ps.keywordSearch(keyword, placesSearchCB);
        }


        // 키워드 검색 완료 시 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                var bounds = new kakao.maps.LatLngBounds();

                for (var i = 0; i < data.length; i++) {
                    displayMarker(data[i]);
                    bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                }

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                map.setBounds(bounds);

                removeCircle();
            }
        }

        // 지도에 마커를 표시하는 함수입니다
        function displayMarker(place) {

            // 마커를 생성하고 지도에 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x)
            });

            markers.push(marker);

            // 마커에 표시할 인포윈도우를 생성합니다
            infowindow = new kakao.maps.InfoWindow({
                content: '<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>'
            });

            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow))

            kakao.maps.event.addListener(marker, 'click', function () {

                selectedPlaceName = place.place_name;
                selectedPlaceLongitude=place.x;
                selectedPlaceLatitude=place.y;

                document.getElementById("location-select").value=selectedPlaceName;
                document.getElementById("location-name").value=selectedPlaceName;
                document.getElementById("location-longitude").value=selectedPlaceLongitude;
                document.getElementById("location-latitude").value=selectedPlaceLatitude;

                setCircle(selectedPlaceLatitude, selectedPlaceLongitude, $('#radius-select').val());

            });
        }

        function removeCircle(){
            if (circle != null){
                circle.setMap(null);
            }
        }

        function setCircle(lat, lng, radius){
            let centerPosition = new kakao.maps.LatLng(lat, lng);
            let selectRadius = 1000*radius;

            removeCircle();

            // 원 객체를 생성합니다
            circle = new kakao.maps.Circle({
                center : centerPosition, // 원의 중심좌표입니다
                radius: selectRadius, // 원의 반지름입니다 m 단위 이며 선 객체를 이용해서 얻어옵니다
                strokeWeight: 1, // 선의 두께입니다
                strokeColor: '#7DCCAB', // 선의 색깔입니다
                strokeOpacity: 0.2, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                strokeStyle: 'solid', // 선의 스타일입니다
                fillColor: '#7DCCAB', // 채우기 색깔입니다
                fillOpacity: 0.3  // 채우기 불투명도입니다
            });

            circle.setMap(map);
        }

        // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
        function setMarkers(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function makeOverListener(map, marker, infowindow) {
            return function () {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeOutListener(infowindow) {
            return function () {
                infowindow.close();
            };
        }


    </script>
</div>
</body>
</html>