/*.container-header{*/
/*    display: none;*/
/*}*/
.content{
    overflow: auto;
}
.container-mention {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
}
.mention-detail {
    width: 90%;
}
.mention-header {
    display: flex;
    justify-content: flex-start;
    height: 55px;
    position: sticky;
    top: 0px;
    background: white;
    font-size: 5vw;
}
.identicon {
    height: 40px;
    width: 40px;
}
.mention-header .back-btn {
    margin-top: 15px;
}
.mention-header .mention {
    font-weight: bold;
    margin: auto 10px;
}
.hr {
    border: 1px solid lightgrey;
    border-radius: 0.5px;
    position: sticky;
    top: 55px;
}
.mention-and-remention {
    display: flex;
    flex-direction: column;
}
.mention-list {
    margin-top: 10px;
}
.mention-content {
    display: flex;
    overflow: hidden;
    height: auto;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
.mention-top {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 40px;
}
.mention-top .nickname {
    height: 20px;
    width: auto;
}
.mention-top .vaccine {
    height: 20px;
    width: auto;
}
.mention-bottom {
    height: auto;
    width: 100%;
    margin-top: 10px;
}
.mention-bottom .content {
    height: 100%;
    margin-left: 10px;
    font-size: 1rem;
    line-height: 1.5;
}
.mention-info {
    height: auto;
    display: flex;
}
.mention-info .dot {
    margin: 0 5px;
}
.remention-content {
    height: auto;
    padding: 5px;
    min-height: 50px;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}
.re-mention-info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: auto;
}
#re-mention-nickname{
    margin-left: 5px;
}
#re-mention-content{
    margin-left: 5px;
}
h6{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 8px;
}
#delete-btn {
    display: block;
    font-size: 13px;
    height: 26px;
    width: 55px;
    margin-top: 5px;
    background-color: #D1B6E1;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    outline: none;
}
#re-mention-delete-btn{
    display: block;
    font-size: 13px;
    margin-left: 10px;
    height: 26px;
    width: 50px;
    background-color: #D1B6E1;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    outline: none;
}
.profile-img {
    margin: auto 0;
}
.remention-write{
    height: auto;
    width: 500px;
}
.remention-write textarea {
    height: 90%;
    width: 97%;
    resize: none;
    border: none;
    margin: 10px;
    outline: none;
}
.remention-write-submit {
    margin: auto;
}
.remention-btn {
    display: block;
    margin-top: 7px;
    height: 26px;
    width: 55px;
    font-size: 13px;
    background-color: #D1B6E1;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    outline: none;
}
.sidebar {
    display: none;
}
/*********************************************************************/
@media (min-width: 940px) {
    .content{
        overflow: auto;
    }
    .container-mention {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 10px;
    }
    .mention-detail {
        width: 600px;
    }
    .mention-header {
        display: flex;
        justify-content: flex-start;
        height: 55px;
        position: sticky;
        top: 0px;
        background: white;
        font-size: 1.5rem;
    }
    .identicon {
        height: 40px;
        width: 40px;
    }
    .mention-header .back-btn {
        margin-top: 15px;
    }
    .mention-header .mention {
        font-weight: bold;
        margin-top: 20px;
        margin-left: 10px;
    }
    #delete-btn {
        display: block;
        margin-left: 527px;
        font-size: 13px;
        height: 26px;
        width: 55px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .hr {
        border: 1px solid lightgrey;
        border-radius: 0.5px;
        position: sticky;
        top: 55px;
    }
    .mention-and-remention {
        display: flex;
        flex-direction: column;
    }
    .mention-list {
        margin-top: 10px;
    }
    .mention-content {
        display: flex;
        overflow: hidden;
        height: auto;
        padding: 10px;
        border-bottom: 1px solid lightgray;
    }
    .mention-top {
        display: flex;
        justify-content: flex-start;
        height: 40px;
        width: 40px;
    }
    .mention-top .nickname-box {
        margin-left: 5px;
        height: 20px;
        width: auto;
        margin: auto 0;
        text-align: center;
    }
    .mention-top .vaccine {
        height: 20px;
        width: auto;
        margin: auto 0;
    }
    .mention-bottom {
        height: auto;
        width: 100%;
        margin-top: 10px;
    }
    .mention-bottom .content {
        height: 100%;
        margin-bottom: 10px;
        font-size: 1rem;
        line-height: 1.5;
    }
    .mention-info {
        height: auto;
        display: flex;
    }
    .mention-info .dot {
        margin: 0 5px;
    }
    .remention-content {
        height: auto;
        padding: 10px;
        min-height: 50px;
        overflow: hidden;
        border-bottom: 1px solid lightgray;
    }
    #parent-mention-no{
        display: flex;
    }
    .profile-img {
        margin: auto 0;
    }
    .remention-write{
        height: inherit;
        width: 500px;
    }
    .remention-write textarea {
        height: inherit;
        width: 500px;
        height: 60px;
        resize: none;
        border: none;
        outline: none;
        overflow: visible;
    }
    .remention-write-submit {
        margin: auto;
    }
    .remention-btn {
        display: block;
        height: 26px;
        width: 55px;
        margin-left: 527px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
        text-align: center;
        margin-top: 6px;
    }
    .re-mention-info{
        display: flex;
        margin-top: 5px;
        align-items: center;
        margin-bottom: 10px;
        width: auto;
    }
    #re-mention-delete-btn{
        display: block;
        font-size: 13px;
        margin-left: 10px;
        height: 26px;
        width: 50px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .sidebar {
        display: block;
        height: auto;
        width: 250px;
        margin-top: 15px;
        position: sticky;
        top: 15px;
    }
    .search {
        height: 40px;
        margin: 0 20px;
        padding-top: 8px;
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(245, 245, 245);
        border-radius: 10px;
        text-align: center;
        align-items: center;
    }
    .search-text {
        background-color: rgb(245, 245, 245);
        border: none;
        outline: none;
    }
    .search-mention{
        border: none;
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(245, 245, 245);
    }
    .trend-box {
        height: 300px;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
    }
    .trend-head {
        margin: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
    }
    .trend-rank {
        flex-grow: 1;
        margin-top: 15px;
        margin-left: 20px;
        font-size: 1rem;
    }
}