.container{
    position: relative;
    top: 55px;
    width: 85%;
    margin : auto;
    height: auto;
}
.myhistory{
    height: auto;
    width: 100%;
    margin-top: 15px;
}
.myhistory-info{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 90px;
    padding-left: 10px;
}
.profile-info{
    display: flex;
    width: 270px;
    height: auto;
    margin-top: 10px;
    margin-right: 3px;
    padding-left: 10px;
}
.hr{
    position: static;
    border-bottom: 2px solid lightgrey;
}
.btn-style {
    display: block;
    height: 26px;
    width: 70px;
    background-color: #D1B6E1;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 70px;
    border: none;
    outline: none;
}
.info-list{
    display: flex;
    font-weight: bold;
    margin: 10px;
}
.vaccine {
    height: 20px;
    width: auto;
}
.myhistory-header{
    display: flex;
    justify-content: flex-start;
    height: 100px;
    font-size: 11px;
    font-weight: bold;
}
.sidebar {
    display: none;
}
.follows{
    margin-left: 5px;
    width: 10px;
}
.myhistory-img{
    margin-top: 10px;
}
.mention-each{
    display: flex;
    margin-bottom: 10px;
}
.myhistory-content{
    padding-left: 10px;
    margin-top: 7px;
    line-height: 1.5;
}
.user-nickname{
    width: 55px;
    margin-top: 8px;
}
@media (min-width: 940px) {
    .container{
        margin-top: -35px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .myhistory{
        height: auto;
        width: 430px;
        margin-top: 15px;
    }
    .myhistory-header{
        display: flex;
        justify-content: flex-start;
        height: 100px;
        font-size: 11px;
        font-weight: bold;
    }
    .myhistory-img{
        margin-top: 10px;
    }
    .myhistory-info{
        display: flex;
        flex-direction: column;
        width: 270px;
        height: 90px;
        padding-left: 10px;
    }
    .profile-info{
        display: flex;
        width: 270px;
        height: auto;
        margin-top: 5px;
        padding-left: 10px;
    }
    .location{
        margin-left: 6px;
    }
    .viewTime{
        margin-left: 6px;
    }
    .btn-style {
        display: block;
        height: 26px;
        width: 70px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        margin-top: 70px;
        border: none;
        outline: none;
    }
    .hr{
        position: static;
        border-bottom: 2px solid lightgrey;
    }
    .info-list{
        display: flex;
        font-weight: bold;
        margin: 10px;
    }
    .myhistory-list{
        margin-top: 10px;

    }
    .detail{
        flex-grow: 1;
        font-weight: bold;
    }
    .follows{
        flex-grow: 1;
    }
    .info-name{
        display: inline-block;
    }
    .sidebar {
        display: block;
        height: auto;
        width: 250px;
        margin-top: 15px;
        position: sticky;
        top: 15px;
    }
    .following-box {
        height: 200px;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
    }
    .following-head {
        margin: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
    .following-list {
        flex-grow: 1;
        width: 70px;
        margin-top: 5px;
        margin-left: 10px;
        font-size: 1rem;
    }
    .search {
        height: 40px;
        margin: 0 20px;
        padding-top: 8px;
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(245, 245, 245);
        border-radius: 10px;
        text-align: center;
        align-items: center;
    }
    .search-mention{
        border: none;
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(245, 245, 245);
    }
    .vaccine {
        height: 20px;
        width: auto;
    }
    .user-nickname{
        width: 55px;
        margin-top: 8px;
    }
    .mention-each{
        display: flex;
        margin-bottom: 10px;
    }
    .myhistory-content{
        padding-left: 10px;
        margin-top: 7px;
        line-height: 1.5;
    }
    .unfollow-btn-my-following{
        display: block;
        margin-right: 5px;
        height: 20px;
        font-size: 12px;
        width: 55px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .delete-btn-my-follower{
        display: block;
        margin-right: 5px;
        height: 20px;
        font-size: 12px;
        width: 55px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .unfollow-btn-following-following{
        display: block;
        margin-right: 5px;
        height: 20px;
        font-size: 12px;
        width: 55px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .follow-btn-another-following{
        display: block;
        margin-right: 5px;
        height: 20px;
        font-size: 12px;
        width: 55px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .unfollow-btn-another-follower{
        display: block;
        margin-right: 5px;
        height: 20px;
        font-size: 12px;
        width: 55px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .follow-btn-another-follower{
        display: block;
        margin-right: 5px;
        height: 20px;
        font-size: 12px;
        width: 55px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
    }

}