.timeline {
    height: auto;
    width: 100%;
}
.timeline-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: sticky;
    top: 15px;
}
.hr {
    border: 1px solid lightgrey;
    border-radius: 0.5px;
    position: sticky;
    top: 55px;
}
.timeline-collect {
    align-items: center;
    font-size: 1.5rem;
}
.timeline-collect .follow {
    font-weight: bold;
    margin-top: 10px;
}
.timeline-collect .location {
    display: none;
    margin-top: 10px;
}
.mention-btn {
    height: 35px;
    width: 70px;
    background-color: lightgrey;
    border-radius: 10px;
}
.mention-btn-text {
    margin-top: 10px;
    margin-left: 15px;
    font-weight: bold;
}
.sidebar {
    display: none;
}
.timeline-content {
    margin-top: 10px;
}
.mention-write {
    height: 90px;
    align-items: stretch;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.mention-write-text textarea {
    height: 23px;
    width: 97%;
    resize: none;
    border: none;
    margin: 10px;
    outline: none;
}
.mention-write-submit {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.location-btn {
    height: 35px;
    width: 45px;
    margin-right: 3px;
    background-color: lightgrey;
    border-radius: 10px;
}
.location-btn-text {
    margin-top: 10px;
    margin-left: 15px;
}
.mention-location input {
    /*border: none;*/
}
.mention-list {
    margin-top: 10px;
}
.mention-each {
    display: flex;
    overflow: hidden;
    height: auto;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.mention-left {
    height: 70px;
    width: 70px;
}
.mention-right {
    width: 100%;
    margin-left: 10px;
}
.mention-info {
    height: auto;
    display: flex;
}
.mention-info .vaccine {
    height: 20px;
    width: auto;
}
.mention-right .content {
    margin-top: 5px;
}
/*********************************************************************/
@media (min-width: 940px) {
.container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.timeline {
    width: 600px;
}
.timeline-header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    position: sticky;
    top: 0px;
    background: white;
}
.hr {
    border: 1px solid lightgrey;
    border-radius: 0.5px;
    position: sticky;
    top: 55px;
}
.timeline-collect {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.timeline-collect .follow {
    font-weight: bold;
    margin-top: 10px;
}
.timeline-collect .location {
    display: block;
    color: lightgray;
    margin-top: 10px;
    margin-left: 10px;
}
.mention-btn {
    height: 35px;
    width: 70px;
    margin-top: 15px;
    background-color: lightgrey;
    border-radius: 10px;
}
.mention-btn-text {
    margin-top: 10px;
    margin-left: 15px;
    font-weight: bold;
}
.sidebar {
    display: block;
    height: auto;
    width: 250px;
    margin-top: 15px;
    position: sticky;
    top: 15px;
}
.search {
    height: 40px;
    margin: 0 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
.search-box {
    /*margin-top: 10px;*/
}
.search-text {
    background-color: rgb(245, 245, 245);
    border: none;
    outline: none;
}
.trend-box {
    height: 300px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
.trend-head {
    margin: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}
.trend-rank {
    flex-grow: 1;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 1rem;
}
.timeline-content {
    margin-top: 10px;
}
.mention-write {
    height: 90px;
    align-items: stretch;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.mention-write-text textarea {
    height: 23px;
    width: 97%;
    resize: none;
    border: none;
    margin: 10px;
    outline: none;
}
.mention-write-submit {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.location-btn {
    height: 35px;
    width: 45px;
    margin-right: 3px;
    background-color: lightgrey;
    border-radius: 10px;
}
.location-btn-text {
    margin-top: 10px;
    margin-left: 15px;
}
.mention-location input {
    /*border: none;*/
}
.mention-list {
    margin-top: 10px;
}
.mention-each {
    display: flex;
    overflow: hidden;
    height: auto;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.mention-left {
    height: 70px;
    width: 70px;
}
.mention-right {
    width: 100%;
    margin-left: 10px;
}
.mention-info {
    height: auto;
    display: flex;
}
.mention-info .vaccine {
    height: 20px;
    width: auto;
}
.mention-right .content {
    margin-top: 5px;
}
}