.timeline {
    height: auto;
    width: 100%;
    margin-top: 80px;
}
.timeline-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: sticky;
    margin-left: 11px;
    top: 15px;
}
.hr {
    border: 1px solid lightgrey;
    border-radius: 0.5px;
    position: sticky;
    top: 55px;
}
.timeline-collect {
    align-items: center;
    font-size: 1.5rem;
}
.timeline-collect .follow {
    font-weight: bold;
    margin-top: 10px;
}
.timeline-collect .location {
    /*display: none;*/
    margin-top: 10px;
}
#keyword-search{
    display: block;
    float: right;
    border: none;
    width: 36px;
    height: 23px;
    background-color: #D1B6E1;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 8px;
}
.mention-btn-text {
    margin-top: 10px;
    margin-left: 15px;
    font-weight: bold;
}
.search-text{
    ackground-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    width: 200px;
    height: 23px;
    margin-left: 130px;
    text-align: center;
}
.search-text3{
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    width: 200px;
    height: 23px;
    margin-top: -3px;
    text-align: center;
}
.sidebar {
    display: none;
    /*float: right;*/
}
.timeline-content {
    height: auto;
    margin-top: 10px;
}
.mention-write {
    height: 90px;
    align-items: stretch;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.mention-write-text textarea {
    height: 80px;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 10px;
}
.mention-write-submit {
    margin-top: 11px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.submit-btn {
    display: block;
    height: 26px;
    width: 55px;
    background-color: #D1B6E1;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    outline: none;
}
#location-save-btn{
    display: block;
    float: right;
    border: none;
    outline: none;
    width: 36px;
    height: 23px;
    background-color: #D1B6E1;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 8px;
    margin-top: -3px;
}
#location-btn {
    display: block;
    height: 26px;
    width: 40px;
    margin-right: 3px;
    background-color: #D1B6E1;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border:none;
    outline: none;
}
.location-btn-text {
    /*margin-top: 10px;*/
    /*margin-left: 15px;*/
}
.mention-location input {
    /*border: none;*/
}
.mention-list {
    margin-top: 10px;
}
.mention-each {
    /*display: flex;*/
    overflow: hidden;
    height: auto;
    margin-top: 35px;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.mention-each2 {
    display: flex;
    overflow: hidden;
    height: auto;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.mention-left {
    height: 70px;
    width: 70px;
}
.mention-right {
    width: 100%;
    margin-left: 10px;
}
.mention-info {
    height: auto;
    display: flex;
}
.mention-info .vaccine {
    height: 20px;
    width: auto;
}
.mention-right .content {
    margin-top: 5px;
}
/*********************************************************************/
@media (min-width: 940px) {
    .container-timeline {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .timeline {
        margin-top: 0;
        width: 600px;
    }
    .timeline-header {
        display: flex;
        justify-content: space-between;
        height: 55px;
        position: sticky;
        top: 0px;
        background: white;
    }
    .hr {
        border: 1px solid lightgrey;
        border-radius: 0.5px;
        position: sticky;
        top: 55px;
    }
    .timeline-collect {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }
    .timeline-collect .follow {
        font-weight: bold;
        margin-top: 10px;
    }
    .timeline-collect .location {
        display: block;
        color: lightgray;
        margin-top: 10px;
        margin-left: 10px;
    }
    .mention-btn-text {
        margin-top: 10px;
        margin-left: 15px;
        font-weight: bold;
    }
    .timeline-content {
        height: auto;
        margin-top: 13px;
    }
    .mention-write {
        height: 90px;
        align-items: stretch;
        border: 1px solid lightgray;
        border-radius: 10px;
    }
    .mention-write-text textarea {
        height: 80px;
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    .mention-write-submit {
        display: flex;
        height: 28px;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .mention-btn {
        height: 26px;
        width: 55px;
        margin-top: 15px;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .submit-btn {
        display: block;
        height: 26px;
        width: 55px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        outline: none;
    }
    .viewTime{
        margin-left: 3px;
    }
    #location-btn {
        display: block;
        height: 26px;
        width: 40px;
        margin-right: 3px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        border-radius: 8px;
        border:none;
        outline: none;
    }
    .search-mention{
        border: none;
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(245, 245, 245);
    }
    #map-div{
        margin-top: 7px;
    }
    #keyword-search{
        display: block;
        float: right;
        border: none;
        width: 36px;
        height: 23px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        font-size: 12px;
        border-radius: 8px;
        /*border:none;*/
    }
    .search-text{
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(245, 245, 245);
        width: 400px;
        height: 23px;
        margin-left: 20px;
        text-align: center;
    }
    .search-text3{
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(245, 245, 245);
        width: 400px;
        height: 23px;
        margin-top: -3px;
        text-align: center;
    }
    #location-save-btn{
        display: block;
        float: right;
        border: none;
        width: 36px;
        height: 23px;
        background-color: #D1B6E1;
        color: white;
        font-weight: bold;
        font-size: 12px;
        border-radius: 8px;
        margin-top: -3px;
        outline: none;
    }
    .location-search{
        margin-top: -10px;
    }
    .location-btn-text {
        /*margin-top: 10px;*/
        /*margin-left: 15px;*/
    }
    .mention-location input {
        /*border: none;*/
    }
    .mention-list {
        margin-top: 10px;
    }
    .mention-each {
        /*display: flex;*/
        overflow: hidden;
        height: auto;
        padding: 10px;
        margin-top: 35px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    .mention-each2 {
         display: flex;
         overflow: hidden;
         height: auto;
         padding: 10px;
         border-top: 1px solid lightgray;
         border-bottom: 1px solid lightgray;
     }
    .mention-left {
        height: 70px;
        width: 70px;
    }
    .mention-right {
        width: 100%;
        margin-left: 10px;
    }
    .mention-info {
        height: auto;
        display: flex;
    }
    .mention-info .nickname{
        font-weight: bold;
    }
    .mention-info .dot {
        margin: 0 5px;
    }
    .mention-info .vaccine {
        height: 20px;
        width: auto;
    }
    .mention-info .location{
        margin-left: 5px;
    }
    .mention-right .content {
        margin-top: 7px;
    }
    .sidebar {
        display: block;
        height: auto;
        width: 250px;
        margin-top: 15px;
        position: sticky;
        top: 15px;
    }
    .search {
        height: 40px;
        margin: 0 20px;
        padding-top: 8px;
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(245, 245, 245);
        border-radius: 10px;
        text-align: center;
        align-items: center;
    }
    .search-text2 {
        background-color: rgb(245, 245, 245);
        border: none;
        outline: none;
    }
    .trend-box {
        height: 300px;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
    }
    .trend-head {
        margin: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
    }
    .trend-rank {
        flex-grow: 1;
        margin-top: 15px;
        margin-left: 20px;
        font-size: 1rem;
    }
}