<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}"  th:with="activeTab='signup', title='Sign Up'">

<head>
    <script th:src="@{/js/user/form-validation.js}"></script>
    <script th:src="@{/js/user/daum-address.js}"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link th:href="@{/css/user/signup.css}" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
        <div class="container">


    <script th:inline="javascript">
        $(document).ready(function (){
            let nicknameRegexCheck = true;
            let nicknameDuplicateCheck = false;

            $("#nickname").on('focus',function (){
                nicknameDuplicateCheck = false;
                nicknameRegexCheck = false;
            });
            $("#nickname").on('blur',function (){

                let nickname = $('#nickname').val();

                const nicknameRegex = /^[a-zA-Z가-힣]+[0-9a-zA-Z가-힣]{3,7}$/;
                if(nicknameRegex.test(nickname)){
                    $('#nicknameCheck').text('');
                    nicknameRegexCheck = true;
                }else{
                    $('#nicknameCheck').text('닉네임은 영어 또는 한글로 시작하는 4자 이상 8자 이하여야합니다.');
                    $('#nicknameCheck').css('color','red');
                }
            });
            $("#nicknameDuplicateCheck").click(function () {

                let nickname = $('#nickname').val();
                console.log(nickname);

                if(!nicknameRegexCheck){
                    alert('닉네임 양식에 맞추세요.');
                    return false;
                }

                $.ajax({
                    url : '/nicknameCk',
                    type : 'GET',
                    data : {'nickname':nickname},
                    contentType : 'application/json',
                    dataType: 'json',
                    success:function (result){
                        alert(result.message);
                        nicknameDuplicateCheck = true;
                    },
                    error:function (){
                        alert('error');
                    }
                });

            });

            $('.signup-complete').click(function (){
                let email = $('#email').val();
                let password = $('#password').val();
                let passwordCheck = $('#passwordCheck').val();

                if(email == ''){
                    alert('이메일을 입력하세요');
                    return false;
                }

                if(password == '' || passwordCheck == '') {
                    alert('패스워드 입력하세요');
                    return false;
                }

                if(password != passwordCheck){
                    alert('두 패스워드가 일치하지 않습니다.');
                    return false;
                }

                if(!nicknameDuplicateCheck){
                    alert('닉네임 중복 확인해주세요.');
                    return false;
                }

                $('form[name=signup]').submit();

            });


        });
    </script>

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="signup-header">
            <h3 class="signup-title">회원가입</h3>
        </div>
        <div class="signup-button">
            <div class="item">
                <button type="submit" class="kakao-signup">카카오계정으로 가입</button>
            </div>
            <div class="item">
                <button type="submit" class="naver-signup">네이버로 가입</button>
            </div>
            <div id="naverIdLogin"></div>
        </div>
        <div class="none"></div>
        <div class="signup-form">
            <form action="" method="post" name="signup" th:object="${signUpForm}" th:action="@{signup}">
                <div class="form-group">
                    <input type="text" th:field="*{email}" name="userEmail" class="form-control" id="email" placeholder="아이디(이메일)을 입력하세요.">
                </div>
                <div class="form-group">
                    <input type="password" th:field="*{password}" name="userPw" class="form-control" id="password" placeholder="비밀번호를 입력하세요.">
                </div>
                <div class="form-group">
                    <input type="password" name="userPwCheck" class="form-control" id="passwordCheck" placeholder="비밀번호를 다시 입력하세요.">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{nickname}" name="userNickname" class="form-control" id="nickname" placeholder="닉네임을 입력하세요.">
                    <button type="button" id ="nicknameDuplicateCheck">중복확인</button>
                    <div class = "check_font" id="nicknameCheck"></div>
                </div>
                <div class="none" style="visibility: hidden;height: 10px"></div>
                <div class="privacy">이용약관</div>
                <div class="privacy-contents">
                    < No-Corona-Zone >('http://127.0.0.1/8080'이하 'No-Corona-Zone')은(는) 「개인정보 보호법」 제30조에 따라
                    정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여
                    다음과 같이 개인정보 처리방침을 수립·공개합니다. <br/><br/>

                    ○ 이 개인정보처리방침은 2021년 8월 9부터 적용됩니다. <br/><br/>

                    제1조(개인정보의 처리 목적)<br/><br/>

                    < No-Corona-Zone >('http://127.0.0.1/8080'이하 'No-Corona-Zone')은(는) 다음의 목적을 위하여 개인정보를 처리합니다.
                    처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며 이용 목적이 변경되는 경우에는
                    「개인정보 보호법」 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다. <br/><br/>
                    &nbsp;&nbsp;&nbsp; 1. 홈페이지 회원가입 및 관리<br/><br/>

                    회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증,
                    회원자격 유지·관리, 만14세 미만 아동의 개인정보 처리 시
                    법정대리인의 동의여부 확인 목적으로 개인정보를 처리합니다.<br/><br/>

                    제2조(정보주체와 법정대리인의 권리·의무 및 그 행사방법)
                    <br/><br/>
                    ① 정보주체는 No-Corona-Zone에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.
                    <br/><br/>
                    ② 제1항에 따른 권리 행사는No-Corona-Zone에 대해 「개인정보 보호법」 시행령 제41조제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 No-Corona-Zone은(는) 이에 대해 지체 없이 조치하겠습니다.
                    <br/><br/>
                    ③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.이 경우 “개인정보 처리 방법에 관한 고시(제2020-7호)” 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
                    <br/><br/>
                    ④ 개인정보 열람 및 처리정지 요구는 「개인정보 보호법」 제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.
                    <br/><br/>
                    ⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.
                    <br/><br/>
                    ⑥ No-Corona-Zone은(는) 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.
                </div>
                <div class="signup-form2">
                    <div class="agree-box"> <input type="checkbox" th:field="*{agreeTermsOfService}" th:value="true">[필수] 약관에 동의합니다.</div>
                    <!--<button type="submit" class="signup-complete">회원가입 완료</button>-->
                    <button type="button" class="signup-complete">회원가입 완료</button>

                </div>

            </form>
        </div>
    </div>
</body>