<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="headerFragment(activeTab)">

    <!-- 상단 바 -->
    <div class="container-header">
        <nav class="global-nav">
            <!-- 좌측 메뉴 (데스크탑) -->
            <div class="global-nav-menus">
                <a th:href="@{/vaccine}" class="global-nav-item">백신</a>
                <a th:href="@{/clinic}" class="global-nav-item">선별진료소</a>
                <div class="dropdown">
                <a class="global-nav-item newsDropdown" onclick="myFunction()">NEWS</a>
                    <div class="dropdown-content" id="myDropdown">
                        <a class="dropdown-item" id="detail1" th:href="@{/article}">기사</a>
                        <a class="dropdown-item" id="detail2" th:href="@{/video}">영상</a>
                    </div>
                </div>
            </div>
            <!-- 좌측 메뉴 (모바일) -->
            <div class="mobile-nav-menus openbtn" onclick="openNavLeft()">
                <div class="icon-menu"></div><div class="icon-menu"></div><div class="icon-menu"></div>
            </div>
            <div id="mySidepanel" class="sidepanel">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNavLeft()">X</a>
                <a th:href="@{/vaccine}" class="mobile-menu-item">백신</a>
                <a th:href="@{/clinic}" class="mobile-menu-item">선별진료소</a>
                <a th:href="@{/article}" class="mobile-menu-item">기사</a>
                <a th:href="@{/video}" class="mobile-menu-item">영상</a>
            </div>
            <!-- 메인으로 -->
            <div class="global-nav-home">
                <img onclick="location.href='/'" th:src="@{/img/ncz_logo.png}" alt="" class="icon-home">
            </div>
            <!-- 우측 메뉴 (데스크탑) -->
<!--            <div class="mobile-nav-users openbtn" onclick="openNavRight()">-->
<!--                <a>-->
<!--                    <img th:src="@{/img/social-icon.png}" alt="" class="icon-social"></a>-->
<!--            </div>-->
            <div class="global-nav-users">
                <a sec:authorize="!isAuthenticated()" class="global-nav-item" style="cursor:pointer;"
                   onclick="document.getElementById('modal').style.display='block'">CO-SNS</a>
                <a th:href="@{/timeline_follow}" th:classappend="${activeTab == 'timeline'}?active" sec:authorize="isAuthenticated()" class="global-nav-item">CO-SNS</a>
                <a th:href="@{/signup}" class="global-nav-item" sec:authorize="!isAuthenticated()">회원가입</a>
                <a th:href="@{/login}" class="global-nav-item" th:classappend="${activeTab == 'login'} ? active" sec:authorize="!isAuthenticated()">로그인</a>
                <a class="global-nav-item" th:classappend="${activeTab == 'settings'} ? active"
                   sec:authorize="isAuthenticated()" th:href="@{/settings}" >내 정보</a>
                <form class="form-inline" th:action="@{/logout}" th:method="post" sec:authorize="isAuthenticated()">
                    <button th:action="@{/logout}" class="global-nav-item logoutBtn" th:classappend="${activeTab == 'logout'} ? active">로그아웃</button>
                </form>
            </div>
            <!-- 우측 메뉴 (모바일) -->
            <div class="mobile-nav-users openbtn" onclick="openNavRight()">
                <a>
                    <img th:src="@{/img/social-icon.png}" alt="" class="icon-social"></a>
            </div>
            <div id="mySidepanel2" class="sidepanel-right">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNavRight()">X</a>
                <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="mobile-menu-item">로그인</a>
                <a th:href="@{/signup}" sec:authorize="!isAuthenticated()" class="mobile-menu-item">회원가입</a>
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="mobile-menu-item">로그아웃</a>
                <a th:href="@{/timeline_follow}" class="mobile-menu-item">타임라인</a>
                <a th:href="@{/profile}" sec:authorize="isAuthenticated()" class="mobile-menu-item">내프로필</a>
                <a th:href="@{/settings}" sec:authorize="isAuthenticated()" class="mobile-menu-item">정보수정</a>
            </div>
        </nav>
    </div>
    <div id="modal" class="modal" role="dialog">
        <div class="w3-modal-content">
            <div class="w3-container">
                <a th:href="@{/login}" class="closebtn">&times;</a>
                <h4 class="cosns-ps">로그인 페이지로 이동하여 다양한 서비스를 이용해보세요.</h4>
                <img th:src="@{/img/cosns-info.png}">
            </div>
        </div>
    </div>
    <script>
        function myFunction(){
            document.getElementById("myDropdown").classList.toggle("show");
            var myDropdown = document.getElementById("myDropdown");
            var detail1 = document.getElementById("detail1");
            var detail2 = document.getElementById("detail2");
            myDropdown.style.backgroundColor="white";
            myDropdown.style.width="45px";
            detail1.style.marginLeft="-10px";
            detail2.style.marginLeft="-10px";
            detail1.style.width="15px";
            detail2.style.width="15px";
            detail1.style.fontSize="13px";
            detail2.style.fontSize="13px";
            detail1.style.border="none";
            detail1.style.backgroundColor="white";
            detail2.style.border="none";
            detail2.style.backgroundColor="white";
        }
        window.onclick=function (e){
            if(!e.target.matches('.newsDropdown')){
                var myDropdown = document.getElementById("myDropdown");
                if(myDropdown.classList.contains('show')){
                    myDropdown.classList.remove('show');
                }
            }
        }
        function openNavLeft(){
            document.getElementById("mySidepanel").style.width="100%";
        }
        function closeNavLeft(){
            document.getElementById("mySidepanel").style.width="0";
        }
        function openNavRight(){
            document.getElementById("mySidepanel2").style.width="100%";
        }
        function closeNavRight(){
            document.getElementById("mySidepanel2").style.width="0";
        }
    </script>
</th:block>
</body>
