@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 14px;
}
body {
    overflow-x: hidden;
    color: black;
    background: white;
}
a {
    color: black;
    text-decoration: none;
}
.global-nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    margin-top: 20px;
}
.dropdown-item{
    display: block;
    font-size: 8px;
    text-align: left;
}
.global-nav-menus,
.global-nav-users {
    display: none;
}
.dropdown .newsDropdown{
    cursor : pointer;
}
.logoutBtn{
    border: none;
    background-color: white;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-item{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}
.show {
    display: block;
}
/*모바일 메뉴 좌측*/
.sidepanel{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 310px;
    background-color: rgb(125, 204, 171);
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 5px;
}
.sidepanel-right{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 310px;
    background-color: rgb(125, 204, 171);;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 5px;
}
.mobile-menu-item{
    font-weight: bold;
    color: #0a3027;
    margin-top: 30px;
}
.menu{
    display: block;
    font-weight: bold;
    color: #0a3027;
    margin-top: 30px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    text-align: center;
    display: block;
    transition: 0.3s;
}
.sidepanel .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    color: #0a3027;
}
.sidepanel-right .closebtn{
    position: absolute;
    top: 0;
    font-size: 30px;
    color: #0a3027;
}
.sidepanel a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    text-align: center;
    display: block;
    transition: 0.3s;
}
.sidepanel-right a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    text-align: center;
    display: block;
    transition: 0.3s;
}
.mobile-nav-menus,
.mobile-nav-users {
    align-items: center;
}
.icon-menu {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 1.5px;
    margin: 6px 0;
}
.icon-social {
    width: 32px;
    height: 32px;
}
.home-btn {
    font-weight: bold;
    font-size: 1.5rem;
}
.content {
    max-height: 800px;
}


@media (min-width: 940px) {
    .global-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 44px;
        margin-top: 20px;
    }
    .global-nav-menus,
    .global-nav-users {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 450px;
        height: 100%;
        font-size: 1.2vw;
    }
    .mobile-nav-menus,
    .mobile-nav-users {
        display: none;
    }
    .global-nav-home {
        text-align: center;
        width: 300px;
    }
    .icon-home:hover {
        cursor: pointer;
    }
    a:hover {
        color: black;
        text-decoration: none;
    }

}