<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}"  th:with="activeTab='mobile_menu', title='moile_menu'">
<head>
  <link th:href="@{/css/menu/co_info_menu.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="mobile-menu-list">
      <a href="#" class="mobile-menu-item">백신</a>
    </div>
    <div class="mobile-menu-list">
      <a href="#" class="mobile-menu-item">선별진료소</a>
    </div>
    <div class="mobile-menu-list">
      <a th:href="@{/news}" class="mobile-menu-item">NEWS</a>
    </div>
  </div>
</div>
</body>
