<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}"  th:with="activeTab='mobile_member_menu', title='moile_member_menu'">
<head>
  <link th:href="@{/css/menu/co_sns_menu.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <div class="mobile-menu-header">계정 메뉴
    </div>
    <div class="mobile-menu-list">
      <a href="#" class="mobile-menu-item">로그인</a>
    </div>
    <div class="mobile-menu-list">
      <a href="#" class="mobile-menu-item">회원가입</a>
    </div>
    <!--        <div class="mobile-menu-list">-->
    <!--            <a href="#" class="mobile-menu-item">타임라인</a>-->
    <!--        </div>-->
    <!--        <div class="mobile-menu-list">-->
    <!--            <a href="#" class="mobile-menu-item">내프로필</a>-->
    <!--        </div>-->
    <!--        <div class="mobile-menu-list">-->
    <!--            <a href="#" class="mobile-menu-item">정보수정</a>-->
    <!--        </div>-->

  </div>
</div>
</body>
</html>