<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}" th:with="activeTab='index', title='Welcome!'">
<head>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>
<div layout:fragment="content">
    <div class="home">
        <div class="home-left">
            <div class="map-collect">
                <a href="#" class="map-collect-item infection">확진</a>
                <a href="#" class="map-collect-item density">밀집</a>
                <a href="#" class="map-collect-item distancing">거리두기</a>
            </div>
            <div class="infection-info">
                <div class="total-infection"></div>
            </div>
        </div>
        <!-- 지도 -->
        <div class="home-map">
            <img src="/svg/cb_chungju.svg" alt="" class="map">
            <img src="/svg/cb_danyang.svg" alt="" class="map">
            <img src="/svg/cb_okcheon.svg" alt="" class="map">
            <img src="/svg/cb_boeun.svg" alt="" class="map">
            <img src="/svg/cb_cheongju.svg" alt="" class="map">
            <img src="/svg/cb_cheongwon.svg" alt="" class="map">
            <img src="/svg/cb_goisan.svg" alt="" class="map">
            <img src="/svg/cb_jecheon.svg" alt="" class="map">
            <img src="/svg/cb_jeungpyung.svg" alt="" class="map">
            <img src="/svg/cb_jincheon.svg" alt="" class="map">
            <img src="/svg/cb_umseong.svg" alt="" class="map">

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="2938.000000px" height="2560.000000px" viewBox="0 0 2938.000000 2560.000000"
                 preserveAspectRatio="xMidYMid meet" class="nana">
                <style>
                    .nana {
                        fill: blue;
                    }
                </style>
                <g transform="translate(0.000000,2560.000000) scale(0.100000,-0.100000)"
                   fill="" stroke="none">
                    <path d="M4920 14469 c-102 -21 -185 -38 -186 -39 -1 0 -100 -142 -220 -315
-206 -297 -220 -315 -249 -315 -16 0 -250 22 -520 49 -395 40 -495 47 -515 38
-14 -7 -137 -154 -273 -327 -349 -442 -337 -426 -337 -467 0 -19 50 -205 112
-413 l111 -378 -131 -204 c-141 -217 -154 -250 -114 -297 25 -31 499 -146 538
-131 15 6 163 75 328 154 l301 143 293 -13 293 -13 245 -211 c205 -175 251
-210 276 -210 37 0 425 48 450 56 10 3 97 91 195 195 l177 189 70 22 c646 196
699 214 717 238 21 30 185 1053 175 1093 -4 18 -53 60 -158 138 l-153 113
-435 75 -435 76 -5 180 -5 180 -114 195 c-62 107 -123 205 -134 218 -28 31
-73 28 -297 -19z m-480 -1369 c0 -29 1 -30 50 -30 l50 0 0 -35 0 -35 -50 0
c-33 0 -50 -4 -50 -12 0 -28 40 -76 79 -94 l41 -19 -20 -32 c-18 -30 -21 -31
-50 -22 -16 6 -44 24 -61 40 l-31 29 -25 -31 c-25 -29 -71 -59 -92 -59 -10 0
-46 59 -39 65 2 1 18 10 36 19 35 18 72 69 72 99 0 14 -9 17 -45 17 -45 0 -45
0 -45 35 l0 35 50 0 c49 0 50 1 50 30 0 28 2 30 40 30 38 0 40 -2 40 -30z
m240 -135 l0 -165 -40 0 -40 0 0 55 0 55 -40 0 c-39 0 -40 1 -40 35 0 34 1 35
40 35 l40 0 0 75 0 75 40 0 40 0 0 -165z m1020 -110 l0 -275 -40 0 -40 0 0
275 0 275 40 0 40 0 0 -275z m-510 210 l0 -35 -70 0 c-39 0 -70 -4 -70 -10 0
-23 59 -71 107 -88 l51 -17 -14 -33 c-13 -31 -16 -33 -46 -27 -47 10 -99 39
-127 69 l-25 26 -30 -29 c-36 -33 -78 -56 -124 -66 -30 -6 -33 -4 -46 27 l-14
33 51 18 c52 18 107 61 107 84 0 9 -19 13 -70 13 l-70 0 0 35 0 35 195 0 195
0 0 -35z m292 -62 c4 -106 31 -171 89 -212 l38 -28 -22 -31 c-12 -18 -26 -32
-30 -32 -21 0 -69 45 -94 87 l-26 45 -20 -38 c-23 -46 -42 -69 -79 -95 l-27
-20 -25 38 -25 37 28 17 c62 37 99 120 108 242 l6 77 37 0 38 0 4 -87z m-252
-208 l0 -35 -100 0 -100 0 0 -95 0 -95 -40 0 -40 0 0 95 0 95 -95 0 -95 0 0
35 0 35 235 0 235 0 0 -35z m-614 -24 c54 -24 73 -71 51 -124 -19 -45 -74 -67
-167 -67 -93 0 -148 22 -167 67 -11 28 -12 42 -2 70 16 49 70 73 169 73 52 0
88 -6 116 -19z"/>
                    <path d="M4446 12720 c-58 -18 -55 -54 6 -71 71 -19 156 9 142 46 -6 15 -65
35 -99 34 -11 0 -33 -5 -49 -9z"/>
                </g>
            </svg>

        </div>
        <div class="home-right">
            <div class="news-img"></div>
            <div class="chat"></div>
            <!-- 채팅 -->
            <div>
                <div id="username-page">
                    <div class="username-page-container">
                        <h2 class="title">채팅 아이디를 입력해주세요!</h2>
                        <form id="usernameForm" name="usernameForm">
                            <div class="form-group">
                                <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="accent username-submit">채팅 시작</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="chat-page" class="hidden">
                    <div class="chat-container">
                        <div class="chat-header">
                            <h2>NCZ 채팅</h2>
                        </div>
                        <div class="connecting">
                            Connecting...
                        </div>
                        <ul id="messageArea">

                        </ul>
                        <form id="messageForm" name="messageForm">
                            <div class="form-group">
                                <div class="input-group clearfix">
                                    <input type="text" id="message" placeholder="메세지를 입력하세요" autocomplete="off" class="form-control"/>
                                    <button type="submit" class="primary">보내기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 채팅 끝 -->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/co_info/chat.js"></script>
</div>
</body>
</html>