<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}" th:with="activeTab='main', title='NEWS'">

<head>
  <link th:href="@{/css/co_info/main.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <h4>뉴스</h4>
    <div class ="news-content">
      <div class="news-item">
        <img src="/img/news-img.png" class="news-img"> <!--th:src="${}"-->
        <div class="news-header">
          <span onclick="location.href='#'" class="news-header-title">터널 지나는 반도체株, 용기를 내야 할 시기</span>
          <span class="news-co">중앙일보</span>
        </div>
        <div class="news-detail">
          이준석, 윤석열과 통화녹음에 유출까지.."자동녹음" vs "불쾌"
          <br/>
          이준석, 윤석열 통화 녹음에 유출 파장..尹 "기분 좋겠나" 불쾌
        </div>
      </div>

      <div class="news-item">
        <img src="/img/news-img.png" class="news-img"> <!--th:src="${}"-->
        <div class="news-header">
          <span onclick="location.href='#'" class="news-header-title">터널 지나는 반도체株, 용기를 내야 할 시기</span>
          <span class="news-co">중앙일보</span>
        </div>
        <div class="news-detail">
          이준석, 윤석열과 통화녹음에 유출까지.."자동녹음" vs "불쾌"
          <br/>
          이준석, 윤석열 통화 녹음에 유출 파장..尹 "기분 좋겠나" 불쾌
        </div>
      </div>

      <div class="news-item">
        <img src="/img/news-img.png" class="news-img"> <!--th:src="${}"-->
        <div class="news-header">
          <span onclick="location.href='#'" class="news-header-title">터널 지나는 반도체株, 용기를 내야 할 시기</span>
          <span class="news-co">중앙일보</span>
        </div>
        <div class="news-detail">
          이준석, 윤석열과 통화녹음에 유출까지.."자동녹음" vs "불쾌"
          <br/>
          이준석, 윤석열 통화 녹음에 유출 파장..尹 "기분 좋겠나" 불쾌
        </div>
      </div>

      <div class="news-item">
        <img src="/img/news-img.png" class="news-img"> <!--th:src="${}"-->
        <div class="news-header">
          <span onclick="location.href='#'" class="news-header-title">터널 지나는 반도체株, 용기를 내야 할 시기</span>
          <span class="news-co">중앙일보</span>
        </div>
        <div class="news-detail">
          이준석, 윤석열과 통화녹음에 유출까지.."자동녹음" vs "불쾌"
          <br/>
          이준석, 윤석열 통화 녹음에 유출 파장..尹 "기분 좋겠나" 불쾌
        </div>
      </div>
    </div>
    <hr>
    <h4 class="video">영상</h4>
    <div class ="video-content">
      <div class="video-item">
        <img src="/img/youtube.png" class="video-img">
        <div class="video-header">
          <span onclick="location.href='#'" class="video-header-title">멈추지 않는 코로나 확산세... 대책은?</span>
          <span class="video-detail">조회수 1천회</span>
        </div>
      </div>

      <div class="video-item">
        <img src="/img/youtube.png" class="video-img">
        <div class="video-header">
          <span onclick="location.href='#'" class="video-header-title">멈추지 않는 코로나 확산세... 대책은?</span>
          <span class="video-detail">조회수 1천회</span>
        </div>
      </div>

      <div class="video-item">
        <img src="/img/youtube.png" class="video-img">
        <div class="video-header">
          <span onclick="location.href='#'" class="video-header-title">멈추지 않는 코로나 확산세... 대책은?</span>
          <span class="video-detail">조회수 1천회</span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>