<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout}" th:with="activeTab='video', title='NEWS_VIDEO'">
<head>
  <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
  <script th:src="@{/js/co_info/youtube.js}"></script>
  <link th:href="@{/css/co_info/video.css}" rel="stylesheet">
</head>
<body>
<script>
  let apikey = "AIzaSyCdW0U4HuSoXPmWFbRy7Z-VYLxhtvtIcWM"
  let keyword = "코로나"
  let maxResults = 30
  $.ajax({
    type : "GET",
    dataType : "JSON",
    url : "https://www.googleapis.com/youtube/v3/search",
    data:{part:'snippet',key:apikey,q:keyword,maxResults,type:'video'},
    contentType : "application/json",
    success : function(data){
      console.log(data);
    }
  });
</script>
<div layout:fragment="content">

  <div class="container">
    <div class="container-name">
      <h4>영상</h4>
    </div>
    <div id="get_view">
    </div>
    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
  </div>
  <script>
  var topButton = document.getElementById("topBtn");
  window.onscroll = function() {
    scrollFunction()
  };

  function scrollFunction(){
    if(document.body.scrollTop>200|| document.documentElement.scrollTop>200){
      topButton.style.display = "block";
    }else{
      topButton.style.display = "none";
    }
  }
  function  topFunction(){
    document.body.scrollTop=0;
    document.documentElement.scrollTop=0;
  }
</script>
</div>
</body>