body{
    overflow: auto;
}
.container{
    display: flex;
    flex-direction: column;
    border: none;
}
h4{
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.news-content{
    display: flex;
    width: 1100px;
    height: 300px;
    text-align: start;
}
.news-item{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    width: 250px;
    height: 280px;
    margin: 10px;

}
.news-co{
    margin: 5px;
    color: darkgrey;
}
.news-img{
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 150px;
}
.news-header{

}
.news-header-title{
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
}
.news-detail{
    margin-top: 10px;
    padding-left: 5px;

}
.video-content{
    display: flex;
    justify-content: space-around;
    width: 1100px;
    height: 280px;
}
.video-item{
    width: 300px;
    height: 280px;
    margin: 10px;
    display: inline-block;
}
.video-img{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 200px;
}

.video-header-title{
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
}
.video-detail{
    margin-left: 5px;
    font-size: 12px;
    color: darkgrey;
}
hr{
    display: none;
}
footer{
    display: none;
}
@media only screen and (max-width :450px){
    .container{
        height: 2000px;
        width: 300px;
    }
    .news-content{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        text-align: start;
    }
    .video{
        margin-top: 910px;
    }
    .video-content{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        margin-top: 290px;
    }
}