.vaccine-main {
    margin-top: 70px;
}
.vaccine-left {
    display: flex;
    flex-direction: column;
    width: auto;
}
.vaccine-status-border {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 30px;
    height: 120px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 1rem;
}
.first,
.second {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}
.first-head,
.second-head {
    color: rgba(125, 204, 171, 1);
}
.first-num,
.second-num {
    font-size: 1.2rem;
    font-weight: bold;
}
.first-plus,
.second-plus {
    display: flex;
    justify-content: center;
}
.first-plus svg,
.second-plus svg {
    transform: rotate(90deg);
}
.select-vaccine-map {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
}
.select-first-second {
    display: flex;
    justify-content: center;
}
.select-first-second div {
    height: 30px;
    width: 50px;
    margin-right: 3px;
    padding-top: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.select-first-second a {
    color: black;
    cursor: pointer;
}
.show-city-percent {
    height: 50px;
    width: 120px;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.show-city-percent p {
    margin: 5px 0;
}
.vaccine-map {
    position: absolute;
    top: 150px;
    margin-top: 90px;
    margin-left: 40px;
}
.land {
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}
.vaccine-standard{
    height: 10px;
    margin-top: 510px;
    text-align: center;
    color: gray;
    font-size: 0.9rem;
    z-index: 5;
}
.vaccine-right {
    display: flex;
    height: auto;
    width: auto;
    margin: 10px 20px;
}
.news-thumbnail-img {
    height: 112px;
    width: 112px;
    margin-top: 10px;
}
.news-content {
    display: flex;
    flex-direction: column;
    gap: 7px 0;
    margin: 5px;
}
.news-content-headline {
    font-size: 1.2rem;
    font-weight: bold;
}
.article-content-img {
    height: 20px;
}

/*********************************************************************/
@media (min-width: 940px) {
    .vaccine-main {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .vaccine-left {
        display: flex;
        flex-direction: column;
        width: 500px;
    }
    .vaccine-status-border {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 30px;
        height: 120px;
        border: 1px solid lightgray;
        border-radius: 10px;
        font-size: 1rem;
    }
    .first,
    .second {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }
    .first-head,
    .second-head {
        color: rgba(125, 204, 171, 1);
    }
    .first-num,
    .second-num {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .first-plus,
    .second-plus {
        display: flex;
        justify-content: center;
    }
    .first-plus svg,
    .second-plus svg {
        transform: rotate(90deg);
    }
    .select-vaccine-map {
        display: flex;
        justify-content: space-between;
        height: 60px;
        padding-left: 50px;
        padding-right: 50px;
        z-index: 1;
        font-size: 1.1rem;
        text-align: center;
        align-items: center;
    }
    .select-first-second {
        display: flex;
        justify-content: center;
    }
    .select-first-second div {
        height: 30px;
        width: 50px;
        margin-right: 3px;
        padding-top: 5px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    .select-first-second a {
        color: black;
        cursor: pointer;
    }
    .show-city-percent {
        height: 50px;
        width: 120px;
        margin-top: 20px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    .show-city-percent p {
        margin: 5px 0;
    }
    .vaccine-article {
        margin-top: 0;
    }
    .vaccine-map {
        position: absolute;
        top: 150px;
        margin-top: 90px;
        margin-left: 80px;
    }
    .land {
        fill-opacity: 1;
        stroke:white;
        stroke-opacity: 1;
        stroke-width:0.5;
    }
    .vaccine-standard{
        height: 10px;
        margin-top: 510px;
        text-align: center;
        color: gray;
        font-size: 0.9rem;
        z-index: 5;
    }
    .vaccine-right {
        display: flex;
        width: 700px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .news-thumbnail-img {
        height: 100px;
        width: 150px;
        margin: auto 0;
    }
    .news-content {
        display: flex;
        flex-direction: column;
        gap: 7px 0;
        margin: 5px;
    }
    .news-content-headline {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .news-content-source {

    }
}