.container{
    text-align: center;
    border: none;
    margin-top: 60px;
    height: auto;
}
.login-header{
    margin-top: 50px;
    margin-bottom: 30px;
}
.login-title{
    font-size: 20px;
    margin-top: 20px;
    padding-top: 10px;
}
.login-style{
    width: 100%;
}
.buttons{
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(125, 204, 171);
    color: white;
    font-weight: bold;
}
.signup-btn{
    display: block;
    width: 280px;
    height: 50px;
    line-height: 50px;
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
    text-decoration: none;
}
.signup-btn:visited { color: white; text-decoration: none;}
.signup-btn:hover { color: white; text-decoration: none;}
.item{
    margin-top: 15px;
}
.form-group{
    width: 280px;
    height: 40px;
    text-align: center;
}
.form-control{
    height: 40px;
    border: 1px solid darkgrey;
}
.form-check{
    float: left;
    color: darkgrey;
}
.find-info {
    float: right;
}
.checks{
    width: 280px;
    height: 30px;
}
.id-password-check{
    color: darkgrey;
    text-decoration: none;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.google-btn{
    border: 1px solid lightgray;
    border-radius: 5px;
}
.naver-btn{
    width: 280px;
    height: 50px;
}
