.container{
    margin-top: 60px;
    height: auto;
}
.signup-title{
    font-size: 20px;
    margin-top: 20px;
    padding-top: 10px;
}
.signup-header{
    margin-top: 50px;
    margin-bottom: 30px;
}
.signup-button{
    height: 100px;
    text-align: center;
}
#my-signin2{
    text-align: center;
}
.signup-complete{
    margin-top: 10px;
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(125, 204, 171);
    color: white;
    font-weight: bold;
}
.item{
    margin-top: 15px;
    text-align: center;
}
.none{
    height: 30px;
    visibility: hidden;
}
.container{
    text-align: center;
    border: none;
}
.signup-form2{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}
.signup-form{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: auto;
    height: 630px;
}
.fb-login-button{
    width: 280px;
    height: 50px;
}
.check_font{
    position: relative;
    top: 360px;
}
.form-group{
    display: flex;
    width: 280px;
    height: 40px;
    text-align: center;
}
.form-control{
    height: 40px;
    border: 1px solid darkgrey;
}
#nicknameDuplicateCheck{
    font-size: 12px;
    width: 50px;
    border: 1px solid rgb(125, 204, 171);
    color: white;
    font-weight: bold;
    font-size: 12px;
    background-color: rgb(125, 204, 171);
}
.signup-title{
    font-size: 20px;
}
.privacy-contents{
    border: 1px solid lightgray;
    width:280px;
    height: 250px;
    padding: 5px;
    font-size: 6px;
    line-height: 2;
    text-align: left;
    overflow: auto;
    border-radius: 2px;

}
.privacy{
    margin-bottom: 3px;
    font-size: 0.5rem;
    text-align: left;
    font-weight: bold;
}
.agree-box{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 10px;
}
.google-btn{
    border: 1px solid lightgray;
    border-radius: 5px;
}
/*@media all and (max-width:479px){ !*0~479px해상도까지 보여줌*!*/
/*    .container-header{*/
/*        position: sticky;*/
/*        top: 0;*/
/*    }*/
/*}*/
